
<div id="page_wrapper">
<div id="profile_image">
<%= image_tag "data-image.jpeg" %>
</div>
<div id="content">
<h1>Hey, I'm SAKI_KNIN</h1>
<p>Welcome!!</p>
<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="http://twitter.com/SAKI_KNIN">@SAKI_KNIN</a></p>
</div>
</div>
